- @no_container = true
- page_title "Branches"
= render "projects/commits/head"

%div{ class: (container_class) }
  .top-area
    .nav-text
      Protected branches can be managed in project settings

    - if can? current_user, :push_code, @project
      .nav-controls
        = link_to new_namespace_project_branch_path(@project.namespace, @project), class: 'btn btn-create' do
          New branch
        .dropdown.inline
          %button.dropdown-toggle.btn{type: 'button', 'data-toggle' => 'dropdown'}
            %span.light
            - if @sort.present?
              = @sort.humanize
            - else
              Name
            %b.caret
          %ul.dropdown-menu.dropdown-menu-align-right
            %li
              = link_to namespace_project_branches_path(sort: nil) do
                Name
              = link_to namespace_project_branches_path(sort: 'recently_updated') do
                = sort_title_recently_updated
              = link_to namespace_project_branches_path(sort: 'last_updated') do
                = sort_title_oldest_updated

  = render 'projects/commits/mirror_status'

  - unless @branches.empty?
    %ul.content-list.all-branches
      - @branches.each do |branch|
        = render "projects/branches/branch", branch: branch
    = paginate @branches, theme: 'gitlab'
